.sentRequests_panel {
  width: 50%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  z-index: 30;
  background-color: #eff0f2;
}
.sentRequests {
  width: 80%;
  height: 90%;
}
.pagination {
  width: 100%;

  display: flex;

  justify-content: flex-end;
}
.paginate_wrapper {
  width: 150px;
  height: 70px;
  display: flex;
  justify-content: space-between;
}
.paginate {
  height: 50px;
  font-size: 0.9rem;
  font-weight: 500;
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 10px;

  /* background-color: RED; */
}

.paginate > button {
  background-color: transparent;
  border: 1px solid #00d7c3;
  border-radius: 50px;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  color: #00d7c3;
}
.paginate > button:hover {
  box-shadow: 0 0 10px 0 #00d7c3 inset, 0 0 20px 2px #00d7c3;
  border: 3px solid #00d7c3;
}

.next {
  margin-right: 3px;
}
.prev {
  margin-left: 3px;
}

/*======================
    404 page
=======================*/

.page_404 {
  width: 100%;
  height: 100%;
  border-radius: 10px;

  background: #fff;
  font-family: 'Arvo', serif;
}

.page_404 img {
  width: 100%;
}

.four_zero_four_bg {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 400px;

  background-position: center;
}

.four_zero_four_bg h1 {
  font-size: 80px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_404 {
  color: #fff !important;
  padding: 10px 20px;
  background: #39ac31;
  margin-inline: 140px;
  display: inline-block;
  text-align: center;
}
.contant_box_404 {
  margin-top: -50px;
  cursor: pointer;
}
