.container {
  width: 100%;
  height: 370px;

  /* background-color: #00d7c3; */
}
.container > h4 {
  font-size: 1rem;
  padding-left: 10px;
  padding-top: 10px;
  /* background-color: blueviolet; */
}

.wrapper {
  width: 100%;
  height: 55%;
}
.item {
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;

  padding-left: 30px;
  margin-top: 10px;
}
.profile {
  /* background-color: rgb(72, 255, 0); */
  width: 80%;
  display: flex;
  justify-content: flex-start;
}
.icon {
  width: 33%;

  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: rgba(7, 8, 7, 0.17);
}

.icon > .reject {
  width: 30px;
  height: 30px;
  display: block;
  outline: none;
  cursor: pointer;
  border-radius: 100%;
  box-shadow: inset 0 0 0 2px #616467;
  background-image: url('../../../assets/reject_cross_icon.webp');
  background-repeat: no-repeat;
  background-size: cover;
}

.icon > .reject:hover {
  color: #fff;
  background-color: #616467;
  background-image: url('../../../assets/reject_cross_icon_hover.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.each_item {
  width: 100%;
  height: 100%;
  list-style-type: none;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.userName {
  display: block;
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.view_all {
  height: 50px;
  font-size: 0.9rem;
  font-weight: 500;
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  /* background-color: RED; */
}

.view_all > button {
  background-color: transparent;
  border: 1px solid #00d7c3;
  border-radius: 50px;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  color: #00d7c3;
}
.view_all > button:hover {
  box-shadow: 0 0 10px 0 #00d7c3 inset, 0 0 20px 2px #00d7c3;
  border: 3px solid #00d7c3;
}

/* Not Found*/

.noRequestContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.noRequestText {
  width: 50%;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 16px;
  color: #1877f2; /* Facebook blue color */
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-wrap: break-word;
}

.noRequestImage {
  max-width: 200px;
  animation: spin 2s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
