.model {
  width: 100vw;
  height: 100vh;

  background-color: rgba(123, 122, 122, 0.589);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;

  display: flex;
  align-items: center;
  justify-content: center;
}
