.container {
  width: 100%;
  height: 80px;
  /* background-color: rgb(0, 255, 34); */
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.searchBox {
  /* width: 350px; */
  background: #2f3640;
  height: 40px;
  border-radius: 40px;

  /* display: flex;
  align-items: center;
  justify-content: center; */
}
.modelOpen {
  position: absolute;
  overflow: hidden;
  top: 60px;
  left: 35px;
  width: 270px;
  height: 200px;
  border-radius: 10px;
  background-color: #9c1b1b;

  padding-top: 10px;
  display: flex;
  flex-direction: column;

  list-style-type: none;
}
.modelOpen > ul {
  width: 100%;
  list-style-type: none;
}

.modelOpen > ul:hover {
  width: 100%;
  background-color: #2f3640;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
}

/* .searchBox:hover > .searchInput {
  width: 240px;
  padding: 0 6px;
} */
.searchInput {
  width: 240px;
  padding: 0 6px;
}
.searchBox:hover > .searchButton {
  background: white;
  color: #2f3640;
}

.searchButton {
  background: white;
  color: #2f3640;
}

.searchButton {
  color: white;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.searchInput {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding-left: 5px;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;

  font-size: 0.6rem;
}

@media screen and (max-width: 620px) {
  .searchBox:hover > .searchInput {
    width: 150px;
    padding: 0 6px;
  }
}
.btn {
  width: 170px;
  height: 50px;
  font-size: 0.7rem;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  border: none;
  outline: none;

  position: relative;
}

.user_input_image {
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  opacity: 0;
}
.spinner {
  width: 100vh;
  height: 100vh;
  position: absolute;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}
.loader {
  position: relative;
  width: 70px;
  height: 70px;
  border-radius: 10rem;
  border: 2px solid white;

  background: linear-gradient(#eb31b0, #e4c352, #7df8d6);

  box-shadow: 0px 0px 100px -50px black;
  animation: animate 1s linear infinite;
}

.loader::before {
  position: absolute;
  content: '';
  background: #fff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  border-radius: 10rem;
  border: 1px solid white;
  box-shadow: inset 0px 0px 100px -70px #111;
}

@keyframes animate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Demo Stuff End -> */

/* <- Magic Stuff Start */

.btn:hover {
  background-position: right center; /* change the direction of the change here */
}

.btn {
  background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
}

/* Magic Stuff End -> */

.btn > span {
  /* background-color: bisque; */
  font-size: 1rem;
  padding: 10px;
  color: black;
}


.uploder_model{
  background-color: #111;
}