.sentRequests_panel {
  width: 50%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  z-index: 30;
  background-color: #eff0f2;
}
.sentRequests {
  width: 80%;
  height: 90%;
}
.pagination {
  width: 100%;

  display: flex;

  justify-content: flex-end;
}
.paginate_wrapper {
  width: 150px;
  height: 70px;
  background-color: green;
  display: flex;
  justify-content: space-between;
}
.paginate {
  height: 50px;
  font-size: 0.9rem;
  font-weight: 500;
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 10px;

  /* background-color: RED; */
}

.paginate > button {
  background-color: transparent;
  border: 1px solid #00d7c3;
  border-radius: 50px;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  color: #00d7c3;
}
.paginate > button:hover {
  box-shadow: 0 0 10px 0 #00d7c3 inset, 0 0 20px 2px #00d7c3;
  border: 3px solid #00d7c3;
}

.next {
  margin-right: 3px;
}
.prev {
  margin-left: 3px;
}

/* Not Found*/

.noRequestContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.noRequestText {
  width: 50%;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 16px;
  color: #1877f2; /* Facebook blue color */
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-wrap: break-word;
}

.noRequestImage {
  max-width: 200px;
  animation: spin 2s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
