.likeContainer {
  width: 100%;
  height: 70px;
  margin-top: 40px;
}
.userWrapper {
  width: 100%;
  height: 60px;
  padding: 20px;

  display: flex;
  align-items: center;
  justify-content: space-around;
}
.actions button {
  --c: goldenrod;
  color: var(--c);
  font-size: 0.8rem;
  border: none;
  border-radius: 0.5em;
  width: 190px;
  height: 30px;

  letter-spacing: 0.1rem;
  text-align: center;

  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
  margin: 1px;

  outline: 1px solid rgb(0, 255, 8);
}

.actions > button > span {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: var(--c);
  transform: translateY(150%);
  border-radius: 50%;
  left: calc((var(--n) - 1) * 25%);
  transition: 0.5s;
  transition-delay: calc((var(--n) - 1) * 0.1s);
  z-index: -1;
}

.actions > button:hover {
  color: black;
}

.actions > button:hover span {
  transform: translateY(0) scale(2);
}

.actions > button span:nth-child(1) {
  --n: 1;
}

.actions > button span:nth-child(2) {
  --n: 2;
}

.actions > button span:nth-child(3) {
  --n: 3;
}
.actions > button span:nth-child(4) {
  --n: 4;
}
