.container {
  width: 100%;
  height: 370px;
}
.container > h4 {
  font-size: 1rem;
  padding-left: 10px;
}

.wrapper {
  width: 100%;
  height: 55%;
}
.view_all {
  height: 50px;
  font-size: 0.9rem;
  font-weight: 500;
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  /* background-color: RED; */
}

.view_all > button {
  background-color: transparent;
  border: 1px solid #00d7c3;
  border-radius: 50px;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  color: #00d7c3;
}
.view_all > button:hover {
  box-shadow: 0 0 10px 0 #00d7c3 inset, 0 0 20px 2px #00d7c3;
  border: 3px solid #00d7c3;
}
/*======================
    404 page
=======================*/

.noRequestContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.noRequestText {
  width: 50%;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 16px;
  color: #1877f2; /* Facebook blue color */
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-wrap: break-word;
}

.noRequestImage {
  max-width: 200px;
  animation: spin 2s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
