.post_card {
  width: 520px;
  /* height: 350px; */
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  position: relative;
}

/* Header*/
.post_header {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/*Profile*/
.post_profile {
  display: flex;
  align-items: center;
  padding: 12px;
  padding-bottom: 0;
}
.post_profile .avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 8px;
  cursor: pointer;
}

.post_profile .username {
  font-size: 14px;
  font-weight: bold;
  flex-grow: 1;
}

.post_profile .settings_btn {
  background: none;
  border: none;
  cursor: pointer;
}

.post_profile .settings_btn i {
  font-size: 16px;
}

/*-Location*/
.post_location {
  padding-left: 2px;
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}
.post_location span {
  margin-left: 12px;
  cursor: pointer;

  font-size: 1rem;
}
.post_location span .location_icon:hover {
  color: black;
  font-size: 24px;
}
.post_location .location {
  margin-left: 5px;
  font-size: 0.8rem;
}
.post_image {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}

.post_footer {
  padding: 12px;
}

.post_icons {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.icon_group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left_icon_skeletone {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.post_icons .left_icons {
  flex-grow: 1;
}

.post_icons button {
  background: none;
  border: none;
  cursor: pointer;
}

.post_icons button i {
  font-size: 24px;
  margin-right: 10px;
}

.save_btn {
  margin-left: auto;
}

.caption {
  font-size: 14px;
  margin-bottom: 6px;
}
.title {
  font-size: 1rem;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  margin-bottom: 7px;
  word-wrap: break-word;
}
.description {
  font-size: 1rem;
  font-weight: 300;
  word-wrap: break-word;
  font-family: 'Lato', sans-serif;
  margin-bottom: 7px;
}

.hashtags {
  margin-bottom: 6px;
}

.hashtags a {
  color: #00376b;
  text-decoration: none;
  margin-right: 4px;
}

.likes_comments {
  font-size: 14px;
  color: #8e8e8e;
}

/* Side Bar toogle For Edit POst*/

.sidebar {
  position: absolute;

  width: 150px;
  background-color: #333;
  color: #fff;

  top: 56px;
  right: 0;
  height: 300px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;

  transition: width 0.3s;
}

.sidebar_closed {
  width: 0;
}

/* Sidebar menu styles */
.sidebar_menu {
  display: none;
}

.sidebar_menu {
  display: block;
}

.sidebar_menu_item {
  padding: 10px;
  cursor: pointer;
}

.sidebar_menu_item:hover {
  color: cadetblue;
  background-color: #555;

  border-radius: 50px;
}

/* Like Button Animation*/
/* .heart {
  display: inline-block;

  width: 100px;
  height: 100px;
  background: url('https://cssanimation.rocks/images/posts/steps/heart.png') no-repeat;
  background-position: -35px -35px;
  /* background-color: #00376b; */
/* cursor: pointer;
  transition: background-position 1s steps(28);
  transition-duration: 0s;
}

.heart.is_active {
  width: 50px;
  height: 50px;
  transition-duration: 1s;
  background-position: -2800px 0px;
} */
.like_btn,
.comment_btn,
.share_btn {
  position: relative;
}
/*Content*/
.content {
  display: flex;

  width: 20px;
  flex-direction: column;
  border-radius: 5px;
  cursor: pointer;
}
.content.heart_active {
  border-color: #f9b9c4;
  background: #fbd0d8;
}
.heart {
  position: absolute;
  background: url('../../../assets/img.png') no-repeat;
  background-position: left;
  background-size: 2900%;
  height: 90px;
  width: 90px;

  top: -50px;
  left: -30px;
}

.heart.heart_active {
  animation: animate 0.8s steps(28) 1;
  background-position: right;
}
@keyframes animate {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
.likes_count {
  position: absolute;
  top: 10px;
  left: -1px;
  font-size: 0.8rem;
  font-weight: 300;
  color: #303131;
}

/*Comment Style*/
.comment_icon,
.share_icon,
.bookmark_icon {
  color: #aab8c2;
}

.comments_count {
  position: absolute;
  top: 10px;
  left: 1px;
  font-size: 0.8rem;
  font-weight: 300;
  color: #303131;
}
.comment_icon {
  position: absolute;
  top: -20px;
  left: 15px;
  color: #aab8c2;
}

/*Share Icon*/
.share_icon {
  position: absolute;
  top: -18px;
  left: 30px;
  color: #aab8c2;
}
.share_count {
  position: absolute;
  top: 10px;
  left: 33px;
  font-size: 0.8rem;
  font-weight: 300;
  color: #303131;
}

/* Comments */
.comments {
  width: 100%;
}

.comment_container {
  display: flex;
  align-items: center;
}

.comment_input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.add_comment_button {
  margin-left: 10px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.comment_list {
  margin-top: 20px;
}

.comment_item {
  background-color: #f2f2f2;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.comment_item.show {
  opacity: 1;
  transform: translateY(0);
}

.show_more {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  cursor: pointer;

  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s ease, transform 0.3s ease;
  animation: fadeIn 1s;
}

.show_more p {
  margin-right: 10px;
  font-weight: bold;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Show More */
.link_wrapper {
  position: relative;
}

.show_more > .link_wrapper > button {
  display: block;
  width: 150px;
  height: 30px;
  line-height: 3px;
  font-weight: bold;
  text-decoration: none;

  border-radius: 10px;
  background: #333;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 3px solid #333;
  transition: all 0.35s;
}

.show_more > .link_wrapper > .icon {
  width: 30px;
  height: 30px;
  border: 3px solid transparent;
  position: absolute;
  transform: rotate(45deg);
  right: 0;
  top: 0;
  z-index: -1;
  transition: all 0.35s;
}

.show_more > .link_wrapper > .icon svg {
  width: 30px;
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  transform: rotate(-45deg);
  fill: #2ecc71;
  transition: all 0.35s;
}

.show_more > .link_wrapper > button:hover {
  width: 200px;
  border: 3px solid #2ecc71;
  background: transparent;
  color: #2ecc71;
}

.show_more > .link_wrapper > button:hover + .icon {
  border: 3px solid #2ecc71;
  right: -25%;
}
