.container {
  width: 100%;
  height: 370px;
  /* background-color: #00d7c3; */
}
.container > h4 {
  font-size: 1rem;
  padding-left: 10px;

  padding-top: 10px;
  /* background-color: blueviolet; */
}

.wrapper {
  width: 100%;
  /* background-color: blue; */
}
.item {
  /* background-color: coral; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
  /* padding-left: 30px; */
}
.profile {
  /* background-color: rgb(72, 255, 0); */
  width: 80%;
  display: flex;
  justify-content: flex-start;
}
.icon {
  width: 30%;

  color: rgba(7, 8, 7, 0.17);
  /* background-color: aqua; */
}
.icon > .success {
  width: 70px;
  height: 20px;
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 0.6rem;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color, border-color, color, box-shadow, filter;
  transition-duration: 0.3s;
  border: 1px solid transparent;
  letter-spacing: 2px;

  text-transform: uppercase;
  white-space: normal;
  font-weight: 400;
  text-align: center;

  color: #616467;
  box-shadow: inset 0 0 0 2px #608fbe;
  background-color: transparent;
}
.icon > .reject {
  width: 70px;
  height: 20px;
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 0.6rem;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color, border-color, color, box-shadow, filter;
  transition-duration: 0.3s;
  border: 1px solid transparent;
  letter-spacing: 2px;

  text-transform: uppercase;
  white-space: normal;
  font-weight: 400;
  text-align: center;

  color: #616467;
  box-shadow: inset 0 0 0 2px #616467;
  background-color: transparent;
}
.icon > .reject:hover {
  color: #fff;
  background-color: #616467;
}
.icon > .success:hover {
  color: #fff;
  background-color: #0ed557;
}

.each_item {
  list-style-type: none;
  font-size: 0.8rem;
}
.each_item > span {
  padding-left: 10px;
}

/* :hover {
  color: #fff;
  background-color: #616467;
} */

.view_all {
  height: 50px;
  font-size: 0.9rem;
  font-weight: 500;
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  /* background-color: RED; */
}

.view_all > button {
  background-color: transparent;
  border: 1px solid #00d7c3;
  border-radius: 50px;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  color: #00d7c3;
}
.view_all > button:hover {
  box-shadow: 0 0 10px 0 #00d7c3 inset, 0 0 20px 2px #00d7c3;
  border: 3px solid #00d7c3;
}
