.container {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 10px;
  z-index: 30;
  background-color: #eff0f2;

  /* background-color: #007bff; */
  overflow-y: scroll;
}

.edit_profile_panel {
  width: 400px;
  margin: 0 auto;
  padding: 10px;

  /* background-color: #d9d9d9; */
  border-radius: 5px;
}

.edit_profile_panel h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form_group {
  margin-bottom: 10px;
}

.form_group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
.form_group input,
.form_group textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 0px solid #fff;
  border-radius: 5px;
  transition: border-color 0.3s ease-in-out;
}
.form_group input:focus,
.form_group textarea:focus {
  outline: none;
  border: 2px solid #007bff;
}

.wrapper {
  display: inline-flex;
  background: transparent;
  /* background-color: yellowgreen; */
  width: 250px;
  height: 80px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  padding: 20px 15px;
  margin-top: 10px;
  /* box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2); */
}
.wrapper .option {
  background: #fff;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 15px 10px;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 10px;
  border: 2px solid lightgrey;
  transition: all 0.3s ease;
}
.wrapper .option .dot {
  height: 20px;
  width: 20px;
  background: #d9d9d9;
  border-radius: 50%;
  position: relative;
}
.wrapper .option .dot::before {
  position: absolute;
  content: '';
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  background: #0069d9;
  border-radius: 50%;
  opacity: 0;
  transform: scale(1.5);
  transition: all 0.3s ease;
}
input[type='radio'] {
  display: none;
}
.male_input:checked:checked ~ .male {
  border-color: #0069d9;
  background: #0069d9;
}
.female_input:checked:checked ~ .female {
  border-color: #0069d9;
  background: #0069d9;
}
.male_input:checked:checked ~ .male,
:checked:checked ~ .male .dot,
.female_input:checked:checked ~ .female .dot {
  background: #fff;
}
.male_input:checked:checked ~ .male .dot::before,
.female_input:checked:checked ~ .female .dot::before {
  opacity: 1;
  transform: scale(1);
}
.wrapper .option span {
  font-size: 20px;
  color: #808080;
}
.male_input:checked:checked ~ .male span {
  color: #fff;
}
.female_input:checked:checked ~ .female span {
  color: #fff;
}

.form_group > button {
  --c: goldenrod;
  color: var(--c);
  font-size: 0.8rem;
  border: 2px solid green;
  border-radius: 0.5em;
  width: 90px;
  height: 30px;

  letter-spacing: 0.1rem;
  text-align: center;

  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
  margin-right: 13px;
}

.form_group > button > span {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: var(--c);
  transform: translateY(150%);
  border-radius: 50%;
  left: calc((var(--n) - 1) * 25%);
  transition: 0.5s;
  transition-delay: calc((var(--n) - 1) * 0.1s);
  z-index: -1;
}

.form_group > button:hover {
  color: black;
}

.form_group > button:hover span {
  transform: translateY(0) scale(2);
}

.form_group > button span:nth-child(1) {
  --n: 1;
}

.form_group > button span:nth-child(2) {
  --n: 2;
}

.form_group > button span:nth-child(3) {
  --n: 3;
}

.form_group > button span:nth-child(4) {
  --n: 4;
}
