.container {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 10px;
  z-index: 30;
  background-color: #eff0f2;

  /* background-color: #007bff; */
  overflow: hidden;
}

.edit_profile_panel {
  width: 400px;
  margin: 0 auto;
  padding: 10px;
  padding-left: 30px;
  border-radius: 5px;

  border: 1px groove rgb(187, 255, 0);
}

.edit_profile_panel h2 {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 20px;
}
.sayHello img {
  width: 45px;
  height: 45px;

  object-fit: contain;

  mix-blend-mode: multiply;
}

.i_am_here {
  width: 300px;

  opacity: 0.5;
}
.form_group {
  margin-bottom: 10px;
}

.form_group > button {
  --c: goldenrod;
  color: var(--c);
  font-size: 0.8rem;
  border: 2px solid green;
  border-radius: 0.5em;
  width: 90px;
  height: 30px;

  letter-spacing: 0.1rem;
  text-align: center;

  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
  margin-right: 13px;
}

.form_group > button > span {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: var(--c);
  transform: translateY(150%);
  border-radius: 50%;
  left: calc((var(--n) - 1) * 25%);
  transition: 0.5s;
  transition-delay: calc((var(--n) - 1) * 0.1s);
  z-index: -1;
}

.form_group > button:hover {
  color: black;
}

.form_group > button:hover span {
  transform: translateY(0) scale(2);
}

.form_group > button span:nth-child(1) {
  --n: 1;
}

.form_group > button span:nth-child(2) {
  --n: 2;
}

.form_group > button span:nth-child(3) {
  --n: 3;
}

.form_group > button span:nth-child(4) {
  --n: 4;
}
