.messaging_panel {
  /* width: 100vw; */
  width: 50%;
  height: 100vh;
  display: flex;

  border-radius: 10px;
  z-index: 30;
  background-color: #eff0f2;
}

.user_list {
  width: 37%;
  border-right: 1px solid #dbdbdb;
  /* border-right: 2px solid black; */
  padding: 10px;
  overflow-y: auto;
}

.user {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.user.active {
  background-color: #918f8fb3;
  border-radius: 10px;
  color: #fff;
  font-size: 1rem;
  font-weight: 900;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.username {
  font-size: 14px;
}

.chat_area {
  width: 64%;
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: column;
  padding: 10px;
  overflow-y: auto;
  position: relative;
}

.friend_name {
  height: 50px;
  width: 100%;
  background-color: rgb(211, 212, 212);
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;

  border-radius: 100px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.video_call {
  padding-right: 10px;
}

.friend {
  width: 100%;
  /* height: 100%; */
  height: calc(100% - 60px - 50px);
  padding: 10px;
  overflow-y: auto;
  /* background-color: #3897f0; */
}

.message {
  display: inline-block;
  max-width: 80%;
  border-radius: 8px;
  padding: 8px 12px;
  margin-bottom: 5px;
  word-wrap: break-word;
  /* background-color: bisque; */
}

.incoming {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #f7f7f7;
}

.outgoing {
  background-color: #d3e0fc;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.message p {
  width: 150px;
  word-wrap: break-word;
  /* background-color: aqua; */
  margin: 0;
  font-size: 14px;
  color: #333;
}

.message_input {
  position: absolute;
  bottom: 0;

  width: 400px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;

  /* box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px; */
}

.message_input > .textarea {
  width: 320px;
  resize: none;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #dbdbdb;
  font-size: 14px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.send_btn {
  width: 70px;
  background-color: #3897f0;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  /* // margin-left:  */
}
