/* ------------------------------- app Content ------------------------------ */

.content_container {
  background-color: rgb(232, 234, 234);
  width: 50%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.content_container::-webkit-scrollbar {
  width: 12px;
  background-color: transparent;
}

.content_container::-webkit-scrollbar-track {
  /* border: 3px solid #000055; */
  border: 2px solid rgb(145, 141, 141);
  border-radius: 5px;
}

.content_container::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #00ffffff);
  border-radius: 10px;
}

.content_container::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, #0088ff);
}
