.item_list {
  width: 50%;
  list-style-type: none;
  /* background-color: rgb(43, 233, 100); */

  margin: 0;
  padding: 0;
  /* padding-top: 5px; */
}
.container {
  width: 100%;
  height: 180px;
  /* background-color: red; */
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
}
.warper {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* background-color: rgb(0, 255, 0); */
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;

  padding-top: 10px;
  /* background-color: chartreuse; */
}
/* .item { */
/* display: flex;
  align-items: center;
  justify-content: center; */

/* background-color: blue; */
/* } */
.item > span {
  font-size: 0.8rem;
  font-weight: 300;
  padding-left: 12px;
  cursor: pointer;
}
