/* -------------------------------------------------------------------------- */
/*                              App Sidebar Left                              */
/* -------------------------------------------------------------------------- */

.sidebarLeft_container {
  background-color: #be2323c8;
  color: black;
  /* position: fixed; */
  /* left: 0; */
  width: 22%;
  height: 100%;
  overflow: hidden;
}
.sidebar_profile {
}

/* -------------------------------------------------------------------------- */
/*                              App Sidebar Right                            */
/* -------------------------------------------------------------------------- */
.sidebarRight_container {
  background-color: #be2323c8;
  color: black;
  width: 22%;
  /* position: fixed; */
  /* right: 0; */
  height: 100%;
  overflow: hidden;
}
