/* -------------------------------------------------------------------------- */
/*                              App Sidebar Left                              */
/* -------------------------------------------------------------------------- */

.sidebarLeft_container {
  width: 25%;
  height: 100%;

  background-color: #efececc8;
  color: black;
  overflow: hidden;
}

/* -------------------------------------------------------------------------- */
/*                              App Sidebar Right                            */
/* -------------------------------------------------------------------------- */
.sidebarRight_container {
  width: 25%;
  height: 100%;

  background-color: #e3e0e0c8;
  color: black;
  overflow: hidden;
}
