.profile_panel {
  width: 50%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  z-index: 30;
  background-color: #eff0f2;
  /* overflow: scroll; */
  /* background-color: #3897f0; */
}
header {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  /* background-color: #fafafa; */
}

.profile img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.profile h1 {
  font-size: 24px;
  margin-left: 20px;
}
/* .edit_profile {
 
} */
.actions button {
  --c: goldenrod;
  color: var(--c);
  font-size: 0.8rem;
  border: none;
  border-radius: 0.5em;
  width: 190px;
  height: 30px;

  letter-spacing: 0.1rem;
  text-align: center;

  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
  margin: 1px;

  outline: 1px solid rgb(0, 255, 8);
}

.actions > button > span {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: var(--c);
  transform: translateY(150%);
  border-radius: 50%;
  left: calc((var(--n) - 1) * 25%);
  transition: 0.5s;
  transition-delay: calc((var(--n) - 1) * 0.1s);
  z-index: -1;
}

.actions > button:hover {
  color: black;
}

.actions > button:hover span {
  transform: translateY(0) scale(2);
}

.actions > button span:nth-child(1) {
  --n: 1;
}

.actions > button span:nth-child(2) {
  --n: 2;
}

.actions > button span:nth-child(3) {
  --n: 3;
}
.actions > button span:nth-child(4) {
  --n: 4;
}

.info {
  width: 100%;
  padding: 20px;
  /* background-color: #fafafa; */

  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

header ul {
  list-style: none;
  display: flex;
}

header ul li {
  margin-right: 20px;
}

header ul li strong {
  display: block;
}

.bio {
  margin-top: 10px;
}

.posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  padding: 20px;

  overflow: scroll;
}
.post {
  width: 190px;
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
}
.post img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
  transform: scale(1);
  overflow: hidden;
}

/* Hover effect on user activity */
.post img:hover {
  filter: brightness(70%);
  cursor: pointer;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  overflow: hidden;
  border-radius: 10px;
}
